.App {
  font-family: DinCondensedBold;
  text-align: center;
}

.paragraph {
  font-family: GillSans;
  color: #666;
}

.slideIn {
  transition: all 1.5s;
  transition-timing-function: cubic-bezier(0, 0.45, 0.24, 1.01);
  transform: translateY(300px);
}

.slideIn-2nd {
  transition: all 2s;
  transition-timing-function: cubic-bezier(0, 0.45, 0.24, 1.01);
  transform: translateY(200px);
}
.slideIn-3rd {
  transition: all 2.5s;
  transition-timing-function: cubic-bezier(0, 0.15, 0.84, 1.01);
  transform: translateY(60px);
}
.slideIn-3rd.open,
.slideIn-2nd.open,
.slide-up.open,
.slide-down.open,
.slideIn.open {
  transform: translateY(0px);
}

.map-marker {
  margin-top: -30px;
}

.slide-up {
  transition: all 2s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.06, 0.73);
  transform: translateY(300px);
}

.slide-down {
  transition: all 2s;
  transition-timing-function: cubic-bezier(0.1, 0.1, 0.06, 0.73);
  transform: translateY(-300px);
}

.paragraph.select-selected {
  color: #aaa;
}
